{% extends "dashcomp.html" %}
{% load staticfiles %}
{% block myblock %}
<style>
.ban{
        background:url("{% static 'images/lapi.jpg' %}");
        background-attachment: fixed;
    }
</style>
{% endblock %}

{% block mybl %}

    <section  class='mt-3 ban' > 
        <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Edit Profile</h1>
         </section>
         {% if status %}
         <script> 
         alert('{{status}}') 
         </script>  
           {% endif %}
         <div class='container'>
             <div class='row'>
                 <div class='col-md-3'>
                     <div class='pl-2 pr-2 pt-5' >
                        
                    <p class='pt-3' style="color:grey;font-size:15px"><a   style='color:grey'>Basic Information</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey'>Services</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a style='color:grey'>Reset Password</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey'>Account Settings</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey;' >Change Password</a></p>
                <hr>    
                </div>
                 </div>
                 <div class='col-md-6'>

                     <form method='POST'>
                         {% csrf_token %}
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Email</p>
                        <input type='email' placeholder="Email" class='form-control' name='em' value="{{user.email}}">
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">About</p>
                        <textarea rows='4' placeholder="About" class='form-control' name='abt'></textarea>
                       
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Contact Person's Name </p>
                        <input type='text' placeholder="Contact" class='form-control' name='contp'>
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Services</p>
                        <textarea rows='4' placeholder="Services" class='form-control' name='ser'></textarea>
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Year</p>
                        <input type='year' placeholder="Year" class='form-control' name='year'> 
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Head Office</p>
                        <input type='text' placeholder="Headoffice" class='form-control' name='head'>
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">City</p>
                        <input type='text' placeholder="City" class='form-control' name='cit' value="{{comp.city}}">
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Contact</p>
                        <input type='number' placeholder="Contact" class='form-control' name='cont' value="{{comp.Contact_No}}">
                        <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Address</p>
                        <textarea   rows='4' class='form-control' name='addr'></textarea>
                        <button class='btn btn-control mt-2' style='background: #5caf01;color:white;font-size:15px'>Save Changes</button>
                     </form>
                 </div>
                 
              
    {% endblock %}





