{% extends "dashcomp.html" %}
{% load staticfiles %}
{% block myblock %}
<style>
.ban{
        background:url("{% static 'images/lapi.jpg' %}");
        background-attachment: fixed;
    }
</style>
{% endblock %}

{% block mybl %}

    <section  class='mt-3 ban' > 
        <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Company Profile</h1>
         </section>
         {% if status %}
         <script>
         alert('{{status}}')
         </script>
         {% endif %}
         <div class='container'>
             <div class='row'>
                 <div class='col-md-3'>
                     
                 </div>
                 
              <div class='col-md-6 pt-3' id='b2'>
<form method='post'>
    {% csrf_token %}

                    <div class='pl-2 pr-2 pt-4' >
                        <span>

<p  class='pl-1 ' style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200">Edit Basic Information</p>
               <textarea class='form-control' rows='4' name='ab'>
                  {{profile.about}}
               </textarea>
                        </span>
                     
                
                
               <p class='pt-2'  style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200;">Main Office:</p>
              <input type='text' class='form-control' name='mai' value="{{profile.headoffice}}">
              
              
            
            <p  class='pt-2' style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200;">Contact Person:</p>
            <input type='text' class='form-control' name='conti' value="{{profile.contactperson}}">
     
            
            <p class='pt-2'  style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200;">E-mail:</p>
                    <input type='email' class='form-control' name='eml' value="{{profile.user.email}}">
            <p class='pt-2'  style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200;">Website:</p>
             <input type='text' class='form-control' name='we' value="{{profile.Web}}">
              
            
            <p  class='pt-2' style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200;">Year StandUp:</p>
            <input type='text' class='form-control' name='ye' value="{{profile.year}}">
            <p  class='pt-2' style="font-size:17px; font-family: 'Noto Serif', serif;color:#5caf01;font-weight:200;">Company Name:</p>
            <input type='text' class='form-control' name='cp' value="{{profile.user.first_name}}">
            <p  class='pt-2' style="font-size:15px; font-family: 'Noto Serif', serif;font-weight: 200;color:#5caf01 ">Services</p>
            <textarea class='form-control' rows='4' name='se' >
                    {{profile.services}}
                </textarea>

            </div>
                
    
           <button class='btn btn-block mt-4 ' type="submit" style='background: #5caf01;color:#fff;border-radius:10px'>Save Changes</button>
        </form>        
        </div>
                </div>

                
               
             </div>
         </div>  
         
<!-- <div class='container-fluid pt-2 px-0'>
    <div class='row' style='background: #222a35'>
            <div class='col-md-4 pt-5'>
                    <div class='pb-2 '>
                            <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">
                                Project</h6>
<p class='pt-4' style="color:#fff;font-family: 'poppins','sans-serif';font-weight: 400">
Campus Recruitment  project manage all the details of  college students, various companies visiting  the campus for recruitment and even the college placement officer
</p>
                    </div>
                </div>
                <div class='col-md-3 pt-5 mx-auto'>
                        <div class='pb-2' >
                                <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Follow Us</h6>
                     <p class='pt-4'> <span><i class='fa fa-facebook' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Facebook.com</span></span></p>
                     <p > <span><i class='fa fa-twitter' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Twitter.com</span></span></p>
                     <p > <span><i class='fa fa-youtube' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Youtube.com</span></span></p>
                     <p > <span><i class='fa fa-instagram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Instagram.com</span></span></p>
                     <p > <span><i class='fa fa-linkedin' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Linkedin.com</span></span></p>
                     <p > <span><i class='fa fa-telegram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Telegram.com</span></span></p>
                               
                    </div>
                    </div>
                    <div class='col-md-4 pt-5'>
                            <div class='pb-2' >
                                    <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Contact Us</h6>
                       <p class='pt-4'><span><i class="fa fa-map-marker" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
                        </span> </p>     
                       <p><span><i class="fa fa-phone" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Tel: +9814327862</span> </p>     
                       <p><span><i class="fa fa-fax" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Fax:2233-1543-6547-8976</span> </p>     
                       <p><span><i class="fa fa-envelope" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">sachtech14@gmail.com</span> </p>     
                       </div>
                    </div>
        
    
                <div class='col-md-12 pt-3' style='background:rgba(0,0,0,0.5)'>
                    <h6 class='text-center' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019 Campus Copyright</h6>
                </div>
               
    </div>
    </div> -->
    {% endblock %}


<script>
$(function(){
$('#ch').click(function()
{
$('#b1').show();
$('#b2').hide();
$('#b3').hide();
});
});
$(function(){
$('#bs').click(function()
{
$('#b2').show();
$('#b1').hide();
$('#b3').hide();
});
});
$(function(){
$('#ed').click(function()
{
$('#b3').show();
$('#b1').hide();
$('#b2').hide();
});
});

</script>


