<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 400">Graphic Designer
                        <span class='float-right pt-2' style="font-family:'Noto Serif',serif;color:grey;font-size: 15px">Company Name</span>
                        </h4>
                        <p style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Date Posted:2019-04-14 03:04:44
                        <span  class='float-right' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px;font-weight: 600">Minimal</span>
                    </p> <hr>
               <div class='row' style='height:35px'>
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2 '>
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Number of Vacancies: <span  style='color:black'>0</span></p>
                        <hr>
                    </div>
                   </div>
                   
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2' >
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Salary Range: <span  style='color:black'>15,000-30,000</span></p>
                       <hr>
                    </div>
                   </div>
               </div>
               <div class='row pt-2' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Category: <span  style='color:black'>IT & Telecommunication</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Job Location: <span  style='color:black'>Pune</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-3' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Working Hours<span  style='color:black'>0</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Years of Experience: <span  style='color:black'>0</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-4' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Preferred Age: <span  style='color:black'>22(years)</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Vacancy Nature: <span  style='color:black'>Part Time</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <h5 class='pt-5' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:16px;">Description</h5>
            <p style="color:grey;font-family:'Noto Serif',serif;font-size:15px">Graphic designers create visual concepts, using computer software or by hand, to communicate ideas that inspire, inform, and captivate consumers. They develop the overall layout and production design for various applications such as advertisements, brochures, magazines, and corporate reports.</p>
        <h5 style="color:#5caf01;font-family:'Noto Serif',serif;font-size:17px">Skills Required:</h5>   
        <p><ol>
            <li><span style="color:#5caf01;font-weight: 500">Analytical skills.</span> 
                 <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Designers must be able to look at their work from the point of view of their consumers and examine how the designs they develop will be perceived by consumers to ensure they convey the client's desired message.
            
                </span></li>
                
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Artistic ability.</span> 
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                       Graphic designers must be able to create designs that are artistically interesting and appealing to clients and consumers. They produce rough illustrations of design ideas, either by hand sketching or by using computer programs.
            </span>
                    </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Communication skills. </span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Graphic designers must communicate with clients, customers, and other designers to ensure that their designs accurately reflect the desired message and effectively express information.
           </span> </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Computer skills.</span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                       
                 Most graphic designers use specialized graphic design software to prepare their designs.
          </span>  </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Creativity.</span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                       
                Graphic designers must be able to think of new approaches to communicating ideas to consumers. They develop unique designs that convey a certain message on behalf of their clients.
           </span> </li>
            <li class='pt-2'> <span style="color:#5caf01;font-weight: 500">Time-management skills. </span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                       
                Graphic designers often work on multiple projects at the same time, each with a different deadline.</p>    
                </span> </li>
        </ol>
            <hr>
            <p class='pl-4 pt-3' style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Job deadline: 2019-05-30</p>
            
           </div>
                  <div class='col-md-4 mt-5' >
                      <img src="{% static 'images/grapdesign.jpg' %}"" width='400px' height='400px'>
                  </div>
                  
              </div>
             
          </div>
      </div>
     
  </div>  
</body>
</html>