{% extends "dashcomp.html" %}
{% load staticfiles %}
{% block myblock %}
<style>
.ban{
        background:url("{% static 'images/lapi.jpg' %}");
        background-attachment: fixed;
    }
</style>
{% endblock %}

{% block mybl %}
        <section  class='mt-3 ban'>
                <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Latest Companies</h1>
                 </section>  
   <div class='container'>
       <div class='row pt-5'>
           <div class='col-md-12'>
<div class='row'>
    {% for i in all %}
    <div class='col-md-6 mb-3'>
  <div style='border:1px solid #ccc;background:#F5F5F5'>
        <div class='row ' style='height:120px'>
                <div class='col-md-2 '>
                    <img src="/media/{{i.profile_pic}}" height='120px' width='90px'>
                    </div>
                <div class='col-md-4 pt-3 ml-2'>
                        <p style='font-size:16px;color:#222a35;;font-weight: 500'>{{i.user.first_name}}</p>
                        <p style='font-size:14px;color:grey;line-height: 4px;width:250px;height:40px;line-height: 15px'>{{i.services}}</p>
                    </div>
                    <div class='col-md-4 pl-5 ml-5 pt-4'>
           <a class='btn btn-block btn-control' href="{% url 'compdes'%}?id={{i.id}}"   id='g1' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</a>
                    </div> 
            </div>        
</div>
    </div>
    {% endfor %}
    <!-- <div class='col-md-6' >
            <div style='border:1px solid #ccc;background:#F5F5F5'>
                    <div class='row ' style='height:120px'>
                            <div class='col-md-2 '>
                                <img src="{% static 'images/net.png' %}"" height='120px' width='90px'>
                                </div>
                            <div class='col-md-4 pt-3'>
                                    <p style='font-size:16px;color:#222a35;;font-weight: 500'>Net Solutions</p>
                                    <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:Python,Networking,IOS</p>
                                </div>
                                <div class='col-md-4 pl-5 ml-5 pt-4'>
                                    <button class='btn btn-block btn-control mt-3'  id='a1' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                                             </div>   
                        </div>    
            </div>
             </div>-->

</div>
<!--<div class='row pt-5'>
        <div class='col-md-12'>
<div class='row'>
        <div class='col-md-6'>
                <div style='border:1px solid #ccc;background: #F5F5F5'>
                      <div class='row ' style='height:120px'>
                              <div class='col-md-2 '>
                                  <img src="{% static 'images/uco1.png' %}" height='120px' width='90px'>
                                  </div>
                              <div class='col-md-4 pt-3'>
                                      <p style='font-size:16px;color:#222a35;;font-weight: 500'>Ucodice</p>
                                      <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                                  </div>
                                  <div class='col-md-4 pl-5 ml-5 pt-4'>
                                      <button class='btn btn-block btn-control '  id='db1' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                                               </div>  
                          </div>
                      </div>
                      </div>
 <div class='col-md-6'>
<div style='border:1px solid #ccc;background: #F5F5F5'>
     <div class='row' style='height:120px'>
             <div class='col-md-2'>
                 <img src="{% static 'images/9x.png' %}" height='120px' width='90px'>
                 </div>
             <div class='col-md-4 pt-3'>
                     <p style='font-size:16px;color:#222a35;;font-weight: 500'>9X I.T. solutions</p>
                     <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                 </div>
                 <div class='col-md-4 pl-5 ml-5 pt-4'>
                    <button class='btn btn-block btn-control mt-3'  id='ce' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                             </div>  
         </div>
     </div>
     </div>

</div>

<div class='row pt-5'>
        <div class='col-md-12'>
<div class='row'>
 <div class='col-md-6' >
<div style='border:1px solid #ccc;background:#F5F5F5'>
     <div class='row' style='height:120px'>
             <div class='col-md-2 '>
                 <img src="{% static 'images/echo.png' %}" height='120px' width='90px'>
                 </div>
             <div class='col-md-4 pt-3'>
                     <p style='font-size:16px;color:#222a35;;font-weight: 500'>EchoTech</p>
                     <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                 </div>
                 <div class='col-md-4 pl-5 ml-5 pt-4'>
                    <button class='btn btn-block btn-control mt-3' id='pd' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                             </div> 
                 
         </div>        
</div>
 </div>
 <div class='col-md-6'>
<div style='border:1px solid #ccc;background: #F5F5F5'>
     <div class='row' style='height:120px'>
             <div class='col-md-2 '>
                 <img src="{% static 'images/sea.png' %}" height='120px' width='90px'>
                 
                 </div>
             <div class='col-md-4 pt-3'>
                     <p style='font-size:16px;color:#222a35;;font-weight: 500'>Seasia Infotech</p>
                     <p style='font-size:14px;color:grey;line-height: 4px'>Technologies:C#,Php,ReactNative,Android</p>
                 </div>
                 <div class='col-md-4 pl-5 ml-5 pt-4'>
                    <button class='btn btn-block btn-control mt-3' id='nm' style='background:#5caf01;color:#fff;border-radius: 20px'>View Details</button>
                             </div> 
                 </div>
     </div>
     </div>
</div>
</div>
</div>
</div>
 </div>-->
</div> 
</div>
</div>



{% endblock %}