{% extends "campus.html" %}
{% block mydemo %}
<style>
.header{
        background:white !important;
}
.navbar
{
        background:black;
        height:74px;
}
.demo
{
    height: 40px;
    width:40px;
    border-radius: 50%;
    background:#ccc;
    text-align: center;
}
</style>
{% endblock %}
{% load staticfiles %}
{% block myd %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
        <section  class='mt-3' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
                <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Login</h1>
                 </section> 
   <div class='container'>
       <div class='row'>
           <div class='col-md-6 mx-auto'>
               <h1 class='pt-4 pb-3' style="color:#222a35;font-size: 45px;font-weight: 600;font-family: 'Poppins',sans-serif;">Sign In </h1>
           </div>
       </div>

       <div class='row'>
           <div class='col-md-6 mx-auto'>
             <a id='a1' style="text-decoration:none;color:#5caf01;font-size:20px;font-family: 'Poppins',sans-serif;word-spacing: 50px"> Login </a>
                     <hr>
       
       <div  id='first'  >
<form action=" " method="post">
     {% csrf_token %}
    <p style='color:#5caf01;font-size:16px'>Username or e-mail:</p>
    <input type='text' class='form-control'  style="height:50px" name="username">
    <p class='pt-3' style='color:#5caf01;font-size:16px'>Password:</p>
    <input type='password' class='form-control'  style="height:50px" name="password">
    <section class='pt-3'>
    <input type="checkbox" >
    <span  style='font-size: 15px;color:#5caf01' name="rememberme"> Remember me</span>
    <a  href="{% url 'fg' %}" class='float-right' style='font-size: 15px;color:#5caf01'> Forgot Password?</a>
    </section>       
    <button class='btn text-light btn-control mt-3' style='background:#5caf01;font-weight:600;font-size: 18px;width:100px;' >Sign in</button>
    
    <!-- <span class='pl-3  ' style='color:#222a35;font-size:16px;'>or enter with &nbsp; &nbsp;
    <span  style='word-spacing: 20px'>
        <a href='http://www.facebook.com'>
    <i class='fa fa-facebook pt-2 demo' style="color:#5caf01;font-size:19px;"></i>
         </a>
         <a href='http://www.google.com'>
      <i class='fa fa-google pt-2 demo' style="color:#5caf01;font-size:19px"></i>
    </a>
    </span>
    </span> -->
    </form>
    </div>
    
    
</div>
</div>
</div>
<script>
    $(function(){

        
        $('#a1').click(function(){
            $('#second').hide(); 
            $('#first').show();
              
        
        });
    });
   
</script>

{% endblock %}
</body>
</html>