#d1:hover
{
    background:  #222a35;
    position:fixed;
    
}
a:hover
{
    text-decoration: none;
    /* color: inherit; */
  
}

#b1:hover{
    background: #fff;
    color:grey !important;
  
}

#b2:hover{
    background: #fff;
    color:grey;
}
#b3:hover{
    background: #fff;
    color:grey;
}
#b4:hover{
    background: #fff;
    color:grey;
}
#b5:hover{
    background: #fff;
    color:grey;
}
#b6:hover{
    background: #fff;
    color:grey;
}
#b7:hover{
    background: #fff;
    color:grey;
}
#b8:hover{
    background: #fff;
    color:grey;
}
#b9:hover{
    background: #fff;
    color:grey;
}
#b10:hover{
    background: #fff;
    color:grey;
}
#b11:hover{
    background: #fff;
    color:grey;
}

/* #hover_text:hover{
    color:black;
} */

/* #b1:hover {
    color:grey !important;
} */


#b12:hover{
    background: #fff;
    color:grey;
}
#b13:hover{
    background: #fff;
    color:grey;
}
.a1:hover{
    text-decoration-color: #5caf01;
}
.a2:hover{
    text-decoration-color: #5caf01;
}
.a3:hover{
    text-decoration-color: #5caf01;
}
#p1:hover{
    border:1px solid #ccc;
}
#p2:hover{
    border:1px solid #ccc;
}
#p3:hover{
    border:1px solid #ccc;
}
#p4:hover{
    border:1px solid #ccc;
}
#p5:hover{
    border:1px solid #ccc;
}
#p6:hover{
    border:1px solid #ccc;
}
.flip-box {
 
  border:1px solid #ccc;
  height:450px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-box-back {
  background:#222a35;
  color: white;
  transform: rotateY(180deg);
}
.fixed-top.scrolled {
  background:#222a35 !important;
  transition: background-color 200ms linear;
}
.header{
    background:url("{% static 'images/univ.jpg' %}");
}
.navbar
{
  background:transparent;  
}