{% extends "dashstu.html" %}
{% load staticfiles %}
{% block dem %}
<section  class='mt-3' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
        <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Applied Vacancies</h1>
         </section>
         <div class='container'>
             <div class='row'>
                 <div class='col-md-3'>
                     <div class='pl-2 pr-2 pt-5' >
                        
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='bs'  style='color:grey'>Python Developer</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='ed' style='color:grey'>Database Administartor</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='ad' style='color:grey'>Android Developer</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='na' style='color:grey'>Network Assistant</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey;' >Civil Engineer</a></p>
                <hr>    
                </div>
                 </div>
                 
                 <!-- <div class='col-md-6 pt-3' id='b1' style="display:none">
                    <div class='pl-2 pr-2 pt-4' >
                        <span>
<i class='fa fa-building' style='color:#5caf01;font-size:19px'></i>
<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Civil Engineer</span>
               
                        </span>
                    <hr>  
                <p style='font-size:15px;color:grey'>Civil engineers conceive, design, build, supervise, operate, construct, and maintain infrastructure projects and systems in the public and private sector, including roads, buildings, airports, tunnels, dams, bridges, and systems for water supply and sewage treatment
                    <hr>
                    <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Skills Required</p>
                <hr> 
                <ul style='color:grey'>
                    <li>Map Reading</li>
                    <li>Reveiewing Blueprints</li>
                    <li>Design Techniques</li>
                    <li>Communication Skills</li>
                    <li>Skilled in Math and Physics</li>
                </ul>
                <hr>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Total Post</p>
                <hr>
                <p  class='pl-4' style='color:grey'>10</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Experience</p>
               <hr>
                <p  class='pl-4' style='color:grey'>0-4 Years</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Salary </p>
                <hr>
                <p class='pl-4' style='color:grey'>Rs.15,000-35,000</p>
                <button class='btn  btn-control' style='background:#5caf01;color:white;font-size:16px'>Apply for Vacancy</button>
               
                </div>
                </div> -->


                <div class='col-md-6 pt-3' >
                    {% for i in all %}
                    <div class='pl-2 pr-2 pt-4' >
                        <span>
<i class='fa fa-building' style='color:#5caf01;font-size:19px'></i>
<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">{{i.Job.position}}</span>
              
                        </span>
                    <hr>  
                    <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Qualifications</p>
                    <hr>
                        <p style='font-size:15px;color:grey;' >
                             {{i.Qualification}}</p>
                    
               <hr> 
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Skills Required</p>
               <hr>
               <p style='font-size:15px;color:grey;' >
        {{i.cmpanyid.services}} 
                </p>
              
                <hr> 
                <!-- <ul style='color:grey'>
                    {% for i in rqs %}
                    <li><span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">{{i.cmpanyid.services}}</span>
                    {% endfor %}
                    
                </ul> -->
                
                
                
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Experience
 
                </p>
                <p  class='pl-1' style='color:grey'>
                {{i.Experience}}</p>
               <hr>
               
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Salary </p>
                <p  class='pl-1' style='color:grey'>
                {{i.Job.salary}}
                </p>
                <hr>
                
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Apply on</p>
                <p  class='pl-1' style='color:grey'>
                {{i.Apply_on}}
                </p>
                <p class='pl-4' style='color:grey'></p>
                </div>
                {% endfor %}
                </div>
             </div>

                <!-- <div class='col-md-6 pt-3' id='b3' style="display:none">
                    <div class='pl-2 pr-2 pt-4' >
                        <span>
<i class='fa fa-building' style='color:#5caf01;font-size:19px'></i>
<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Database Administrator</span>
               
                        </span>
                    <hr>  
                <p style='font-size:15px;color:grey'> Database Administration consists of everything required to manage a database and make it available as needed. The database administrator (DBA) is the person who manages, backs up and ensures the availability of the data produced and consumed by today’s organizations via their IT systems.  </p>                
                     <hr>
                    <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Skills Required</p>
                <hr> 
                <ul style='color:grey'>
                    <li>Implement, support and manage the corporate database</li>
                    <li>Design and configure relational database objects.</li>
                    <li>Design data distribution and data archiving solutions</li>
                    <li>Transfer database information to integrated mobile devices.</li>
                    <li>Plan and implement application and data provisioning</li>
                </ul>
                <hr>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Total Post</p>
                <hr>
                <p  class='pl-4' style='color:grey'>25</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Experience</p>
               <hr>
                <p  class='pl-4' style='color:grey'>2-4 Years</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Salary </p>
                <hr>
                <p class='pl-4' style='color:grey'>Rs.19,000-30,000</p>
                
                </div>
                </div>


                <div class='col-md-6 pt-3' id='b4' style="display:none">
                    <div class='pl-2 pr-2 pt-4' >
                        <span>
<i class='fa fa-building' style='color:#5caf01;font-size:19px'></i>
<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Android Developer</span>
               
                        </span>
                    <hr>  
                <p style='font-size:15px;color:grey'> An Android Developer is a Software Developer who specializes in designing applications for the Android marketplace. The Android marketplace is the direct competitor to Apple’s app store. This means most of an Android Developer’s job revolves around creating the apps we use on our smartphones and tablets.  </p>                
                    <hr>
                    <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Skills Required</p>
                <hr> 
                <ul style='color:grey'>
                    <li>Java</li>
                    <li>Android Software Development Kit</li>
                    <li>Android Studio</li>
                    <li>API's</li>
                    <li>Databases</li>
                </ul>
                <hr>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Total Post</p>
                <hr>
                <p  class='pl-4' style='color:grey'>50</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Experience</p>
               <hr>
                <p  class='pl-4' style='color:grey'>1-6 Years</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Salary </p>
                <hr>
                <p class='pl-4' style='color:grey'>Rs.20,000-55,000</p>
                <button class='btn  btn-control' style='background:#5caf01;color:white;font-size:16px'>Apply for Vacancy</button>
               
                </div>
                </div>

                <div class='col-md-6 pt-3' id='b5' style="display:none">
                    <div class='pl-2 pr-2 pt-4' >
                        <span>
<i class='fa fa-building' style='color:#5caf01;font-size:19px'></i>
<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Network Assistant</span>
               
                        </span>
                    <hr>  
                <p style='font-size:15px;color:grey'>Network Assistant simplifies the management of communities or clusters by offering a GUI, alternative modes for configuring network devices, two levels of access, and comprehensive online help</p><hr>
                    <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Skills Required</p>
                <hr> 
                <ul style='color:grey'>
                    <li>Network and Types</li>
                    <li>Up-to-date</li>
                    <li>Ccna</li>
                    <li>Problem Solving</li>
                    <li>LAN/WAN network</li>
                </ul>
                <hr>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Total Post</p>
                <hr>
                <p  class='pl-4' style='color:grey'>18</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Experience</p>
               <hr>
                <p  class='pl-4' style='color:grey'>3-7 Years</p>
                <p  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Salary </p>
                <hr>
                <p class='pl-4' style='color:grey'>Rs.11,000-25,000</p>
                <button class='btn  btn-control' style='background:#5caf01;color:white;font-size:16px'>Apply for Vacancy</button>
               
                </div>
                </div> -->

<div class='col-md-3 pt-4 ' id='b11' style='height:600px;display: none;'>
    <p  class='pl-1 pt-3 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Job Location</p>
              
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15453480.872148277!2d58.74079951833375!3d18.983445839639245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5cded6d076cd%3A0x3fa776df3b743185!2sFortius+Technologies+LLC!5e0!3m2!1sen!2sin!4v1554976464876!5m2!1sen!2sin" width="370" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
 </div>
                </div>
                
               
         
         
<div class='container pt-2'>
    <div class='row ' style='background: #222a35'>
            <div class='col-md-4 pt-5'>
                    <div class='pb-2 '>
                            <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">
                                Project</h6>
<p class='pt-4' style="color:#fff;font-family: 'poppins','sans-serif';font-weight: 400">
Campus Recruitment  project manage all the details of  college students, various companies visiting  the campus for recruitment and even the college placement officer
</p>
                    </div>
                </div>
                <div class='col-md-3 pt-5 mx-auto'>
                        <div class='pb-2' >
                                <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Follow Us</h6>
                     <p class='pt-4'> <span><i class='fa fa-facebook' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Facebook.com</span></span></p>
                     <p > <span><i class='fa fa-twitter' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Twitter.com</span></span></p>
                     <p > <span><i class='fa fa-youtube' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Youtube.com</span></span></p>
                     <p > <span><i class='fa fa-instagram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Instagram.com</span></span></p>
                     <p > <span><i class='fa fa-linkedin' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Linkedin.com</span></span></p>
                     <p > <span><i class='fa fa-telegram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Telegram.com</span></span></p>
                               
                    </div>
                    </div>
                    <div class='col-md-4 pt-5'>
                            <div class='pb-2' >
                                    <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Contact Us</h6>
                       <p class='pt-4'><span><i class="fa fa-map-marker" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
                        </span> </p>     
                       <p><span><i class="fa fa-phone" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Tel: +9814327862</span> </p>     
                       <p><span><i class="fa fa-fax" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Fax:2233-1543-6547-8976</span> </p>     
                       <p><span><i class="fa fa-envelope" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">sachtech14@gmail.com</span> </p>     
                       </div>
                    </div>
        
    
                <div class='col-md-12 pt-3' style='background:rgba(0,0,0,0.5)'>
                    <h6 class='text-center' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019 Campus Copyright</h6>
                </div>
               
    </div>
    </div>



<script>
$(function(){
$('#ch').click(function()
{
//$('#b1').show();
$('#b11').show();
$('#b2').hide();
$('#b22').hide();
$('#b3').hide();
$('#b4').hide();
$('#b5').hide();
});
});
$(function(){
$('#bs').click(function()
{
$('#b2').show();
$('#b22').show();
$('#b1').hide();
$('#b11').show();
$('#b3').hide();
$('#b4').hide();
$('#b5').hide();
});
});
$(function(){
$('#ed').click(function()
{
$('#b3').show();
$('#b1').hide();
$('#b11').hide();
$('#b2').hide();
$('#b11').show();
$('#b4').hide();
$('#b5').hide();
});
});
$(function(){
$('#ad').click(function()
{
$('#b4').show();
$('#b1').hide();
$('#b11').hide();
$('#b2').hide();
$('#b11').show();
$('#b3').hide();
$('#b5').hide();
});
});
$(function(){
$('#na').click(function()
{
$('#b5').show();
$('#b1').hide();
$('#b11').hide();
$('#b2').hide();
$('#b11').show();
$('#b3').hide();
$('#b4').hide();

});
});

</script>


{% endblock %}