<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 500">9X I.T. Solutions </h4>
                   <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">About Company</p>
         <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            9X is a consortium of young and dynamic people, high on enthusiasm and abounding in information. 9X believes in helping clients bring their business online and empowering organizations to gain a competitive advantage in the New Economy. From providing end-to-end web solutions, the firm’s past, present and future is built on mastering evolving technologies quickly, to maximize client value By judicious blend of business analysis & management with latest technology, 9X offers the most advanced solutions by developing state-of-the-art and custom software, Website developing & web based applications. With a complete spectrum of services on offer (high-traffic scalable B2B and B2C web solutions, advanced e-commerce solutions, and dynamic web applications), we are able to take care of your development projectsfrom inception to deployment. 
         </p>
        <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 500">Company Services</p>
        <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            <ol>
               
                <li>Mobile Applications</li>
                <li>SMS services</li>
                <li>Web development</li>
                <li>Data Analytics and Visualizations</li>
                <li>CMS and CRM platforms</li>
                <li>SEO</li>
            </ol>
          </p>
          <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">Head Office</p>
          <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            Flat No G1, Plot No 4 
            Vasista Residency
            Beside Mega More
            Back to Metro Paradise
            Nizampet X Roads
            Hyderabad 
                        </p>
      


           </div>
                  <div class='col-md-4 mt-5' >
                      <img src="{% static 'images/9x.png' %}" width='365px' height='250px'>
                      <div class='row pl-3 pt-5'>
                          <div class='col-md-12' style='border:1px solid #ccc;background: #fff;height:260px'>
                        <h5 style="font-family: 'Noto Serif', serif;color:#5caf01;">Contact Information</h5>
                      <p class='pt-3'> 
                          <i class='fa fa-envelope ' style='color:#5caf01;font-size: 18px'></i>
                          <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">info@9xitsolutions.com</span>
                      </p>
                      <p > 
                        <i class='fa fa-phone ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">+91 - 9885504430</span>
                      </p>
                    <p > 
                        <i class='fa fa-globe ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">www.companysolutions.com</span>
                    </p>
                   
                    <p > 
                        <i class='fa fa-map-marker ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">Flat No G1, Plot No 4 
                            Vasista Residency
                            Beside Mega More
                            Back to Metro Paradise
                            Nizampet X Roads
                            Hyderabad </span>
                    </p>

                        </div>
                      </div>
                  </div>
                  
              </div>
             
          </div>
      </div>
  </div>
 <div class='container-fluid'>
    <div class='row pt-5 ' >
        <div class='col-md-12'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121808.82342508873!2d78.37143843143969!3d17.434533545229687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8dff1535e2ad%3A0xfad4fe331158e21e!2s9X+IT+Solutions!5e0!3m2!1sen!2sin!4v1555483272266!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>   
        </div>
    </div>
 </div>
     
   
</body>
</html>