{% extends "dashcomp.html" %}
{% load staticfiles %}
{% block mystyle %}
<style>
table{
    width:500px !important;
}
</style>
{% endblock %}
{% block mybl %}
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Job Profile</th>
                    <th>Position</th>
                    <th>Location</th>
                    <th>Action</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for i in all %}
                <tr>
                    <td>{{i.id}}</td>
                    <td><img src="/media/{{i.image}}" height="100" width="100" class="img-responsive"></td>
                    <td>{{i.job_title}}</td>
                    <td>{{i.job_location}}</td>
                    <td>
                        <a href="{% url 'mysite:deleteJob'%}?id={{i.id}}" class="btn btn-danger">Delete</a>
                    </td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}